
@{
    ViewBag.Title = "UserIndex";
}

@*<h2>UserIndex</h2>*@
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make a Team</h2>
        <p>
            Set your starting lineup to be the same as your fantasy team for any professional sport.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Create Roster &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See Player Statistics</h2>
        <p>See one of your players stats for this season.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Get Season Stats &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find Local Broadcast</h2>
        <p>Pick one of your starting lineups and find the broadcasts in your area of the games your players play in.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

